.card {
    width: 220px;
    padding: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    border-radius: 40px;
    transition: .2s ease-in;

    &:hover{
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
        transform: translateY(-10px);
    }

    .favorite{
        display: flex;
        position: absolute;
        cursor: pointer;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    span {
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
        color: #BDBDBD;
        margin-bottom: 2px;
    }

    b{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    }

    .plus {
        cursor: pointer;
    }
}